[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
isort = "*"
"flake8" = "*"
coverage = "*"
flake8-eradicate = "*"
flake8-comprehensions = "*"
flake8-logging-format = "*"
flake8-builtins = "*"
flake8-assertive = "*"
flake8-bugbear = "*"

[packages]
requests = "*"
boto3 = "*"
colorama = "*"

[requires]
python_version = "3.7"
